@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

body.div {
    position: relative;
}

ul.nav-pills {
    top: 45px;
    position: fixed;
    padding:10px 0 10px 10px;
    float:left;
}
div.col-8 div {
    height: 500px;
}

li.nav-item
{
    float:left;
    width:285px;
   
}